@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Righteous');

/*---------------------------------------------------Color*/

body{background-color: #676767;
text-align: center
}


/*---------------------------------------------------Header*/


.bandname{
    font-family: 'Permanent Marker', cursive;
    font-size:100px;
    margin-top: 50px;
    color: #ffffff;
    text-align: center;
}

.promo{
    font-family: 'Righteous', cursive;
    color: #ffb366;
    font-size: 20px;
    text-align: center;
}

h3{text-align: center;
    padding: 20px;
     text-transform: uppercase;
}

/*---------------------------------------------------Nav*/

nav ul {
  list-style: none;
  background-color: #4a4a4f;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  margin-left: 5%;
}
 
nav a {
  text-decoration: none;
  color: #fff;
  display: block;
}

nav a:hover {
  background-color: #676767;
  color: #ffb366;
}
 
nav a:active {
  background-color: #fff;
  color: #444;
  cursor: default;
}



/*---------------------------------------------------Gallery*/

.bandmpic{
    text-align: center;
    width: 10%;
    margin-left: 5%;
}


/*---------------------------------------------------media*/


.video-container {
  margin: 2%;
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}