@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Righteous');

/*---------------------------------------------------Color and page-headdings*/

body{background-color: #676767;
text-align: center
}


.link-color{color: #ffb366;} 



.page-head{color: white;
            font-size: 32px;
            text-decoration: underline;
}

/*---------------------------------------------------Header*/


.bandname{
    font-family: 'Permanent Marker', cursive;
    font-size:100px;
    margin-top: 50px;
    color: #ffffff;
    text-align: center;
}

.promo{
    font-family: 'Righteous', cursive;
    color: #ffb366;
    font-size: 24px;
    text-align: center;
}

h3{text-align: center;
    padding: 20px;
     text-transform: uppercase;
     
}



    


/*---------------------------------------------------main pic*/
.responsive {
    width: 100%;
    height: auto;
}
.opentext{margin-top: 50px;
    margin-left 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    font-size: 20px;
    
}

/*---------------------------------------------------footer*/

.social-links {
    padding-bottom: 15px;
    padding-top: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-links li a i:hover {
    background: #ffb366;
}

.footer-text{ color: #ffb366;
            font-family: 'Righteous', cursive;
            font-size: 18px;
}








/*---------------------------------------------------Nav*/

nav ul {
  list-style: none;
  background-color: #4a4a4f;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav li {
  font-size: 2em;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  margin-left: 5%;
}
 
nav a {
  text-decoration: none;
  color: #fff;
  display: block;
}

nav a:hover {
  background-color: #676767;
  color: #ffb366;
}
 
nav a:active {
  background-color: #fff;
  color: #444;
  cursor: default;
}



/*---------------------------------------------------Gallery*/



.bmm-text{text-align: center;
          color: #ffb366;
          text-decoration: underline;
          font-family: 'Righteous', cursive;
}

.road-pic{ padding: 20px;
    
}


/*---------------------------------------------------media*/

.audio-title{font-size: 24px;
            color: #ffb366;
}



.center-tb2 {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
  }



.video-container {
  margin: 5%;
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 80%;
height: 100%;
}



/*---------------------------------------------------events*/


.ticket-color{color: #ffb366;
}
table th {
    color: white;
    background-color: #4a4a4f;
    font-size: 26px;
    text-align: center;
}

table tr{
    font-size: 20px;
}

#clickableAwesomeFont {
     cursor: pointer
}


#event-table{width: 75%;
margin-left: auto;
margin-right: auto;

}

/*---------------------------------------------------shop*/

.new-album{margin-bottom: 50px}

.Albumscovers{float: left;
                
}

.Albumscovers a{text-align: center;}